{% extends "base.html" %}
{% block title %}Aggregate{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.css">
{% endblock %}
{% block content %}
<form action="/aggregate" method="POST">
	<select name="species">
		{% for s in species %}
		{% if curr_species == s %}
		<option value={{s}} selected>{{s}}</option type="submit">
		{% else %}
		<option value={{s}}>{{s}}</option type="submit">
		{% endif %}
		{% endfor %}
		<input type="submit" value="Select Species">
	</select>
</form>

<div class="card bg-light p-3">
	<div id="table-caption"><strong>Species shown:</strong><br/>{{curr_species}}</div>
	<table data-toolbar="#table-caption" data-toggle="table" data-show-pagination-switch="true" data-pagination="true" data-search="true" data-classes="table table-bordered table-hover table-striped">
		<thead>
			<tr>
				<th data-sortable="true" data-field="condition">Condition</th>
				<th data-sortable="true" data-field="type">Type</th>
				<th data-sortable="true" data-field="count">Case Count</th>
			</tr>
		</thead>
		<tbody>
			{% for condition in conditions %}
			<tr>
				<td>{{ condition['condition'] }}</td>
				<td>{{ condition['type'] }}</td>
				<td>{{ condition['case_count'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.js"></script>
{% endblock %}
