{% extends "base.html" %}
{% block title %}Appointment{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.css">
{% endblock %}
{% block content %}
<form action="/appointment" method="POST">
    <SELECT name="vet">
        {% for v in vets %}
            <OPTION value={{v.vet_id}}>{{v.vet_name}}</option type="submit">
        {% endfor %}
        <input type="submit" value="Select Veterinarian">
    </select>
</form>

<div class="card bg-light p-3">
    <caption><br /><strong>Patients shown for:</strong> Dr. {{curr_vet}}</caption>
    <table data-toggle="table" data-show-pagination-switch="true" data-pagination="true" data-search="true" data-classes="table table-bordered table-hover table-striped">
		<thead>
			<tr>
				<th data-sortable="true" data-field="name">Name</th>
				<th data-sortable="true" data-field="birthdate">Birthdate</th>
				<th data-sortable="true" data-field="species">Species</th>
				<th data-sortable="true" data-field="sex">Sex</th>
				<th data-sortable="true" data-field="weight">Weight</th>
				<th>Notes</th>
				<th data-sortable="true" data-field="appt-date">Date</th>
			</tr>
		</thead>
		<tbody>
			{% for appt in appointments %}
			<tr>
				<td>{{ appt['pet_name'] }}</td>
				<td>{{ appt['pet_birthdate']}}</td>
				<td>{{ appt['species'] }}</td>
				<td>{{ appt['pet_sex'] }}</td>
				<td>{{ appt['weight']}}</td>
				<td>{{ appt['notes']}}</td>
				<td>{{ appt['appointment_date'] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.js"></script>
{% endblock %}