{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<div class="card bg-light col-sm-8 p-3">
		<p>
		<strong>Welcome to UW Veterinarian!</strong>
		</p>
		<p>
		This database application was developed by Bob Schmitz, Danielle Lambion and Rick Morrow as a final
		project for UW Tacoma's TCSS-545, Advanced Databases.
		</p>
		<p>
		The application represents an initial build of patient and appointment tracking software for use
		at veterinary clinics. The application's current functionality includes the following:
		</p>
		<p>
		<table class="table table-borderless">
			<tr>
				<td class="text-center"><i class="fa-solid fa-paw fa-2x"></i></td>
				<td><a href="/patient">Listing all patients</a> at a clinic with sorting and filtering</td>
			</tr>
			<tr>
				<td class="text-center"><i class="fa-solid fa-file-medical fa-2x"></i></td>
				<td><a href="/patient">Adding/removing a patient</a> record</td>
			</tr>
			<tr>
				<td class="text-center"><i class="fa-solid fa-stethoscope fa-2x"></i></td>
				<td><a href="patient/11500">Viewing medical records</a> for an individual patient</td>
			</tr>
			<tr>
				<td class="text-center"><i class="fa-solid fa-calendar-check fa-2x"></i></td>
				<td><a href="/appointment">Viewing appointment records</a> for individual veterinarians</td>
			</tr>
			<tr>
				<td class="text-center"><i class="fa-solid fa-laptop-medical fa-2x"></i></td>
				<td><a href="/aggregate">Viewing aggregate data</a> on conditions and allergies</td>
			</tr>
		</table>
		</p>
		<p>
		The database for this software his hosted with <a href="https://aws.amazon.com/rds/postgresql/"><strong>Amazon RDS</strong></a>, and the API is built using Python's Flask
		library and Jinja2 templates.
		</p>
		<p>
		Site icons are obtained from <a href="https://getbootstrap.com/">Bootstrap</a> and <a href="https://fontawesome.com/">Font Awesome</a>. Bootstrap is also used for CSS.
		</p>
	</div>
</div>
{% endblock %}
{% block scripts %}<script src="https://kit.fontawesome.com/3bd96ec630.js" crossorigin="anonymous"></script>{% endblock %}
