{% extends "base.html" %}
{% block title %}Patient Info{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.css">
{% endblock %}
{% block content %}
<div class="card bg-light p-3">
	<div id="animal-caption">
		<h3>Animal</h3>
	</div>
	<div class="item pb-3">
		<table
			data-toolbar="#animal-caption"
			data-toggle="table"
			data-classes="table table-bordered table-striped">
			<thead>
				<tr>
					<th data-field="id">ID</th>
					<th data-field="name">Name</th>
					<th data-field="birthdate">Birthdate</th>
					<th data-field="species">Species</th>
					<th data-field="sex">Sex</th>
					<th data-field="breed">Breed</th>
					<th data-field="color">Color</th>
				</tr>
			</thead>
			<tbody>
				{% for animal in animals %}
				<tr>
					<td>{{ animal['pet_id'] }}</td>
					<td>{{ animal['pet_name'] }}</td>
					<td>{{ animal['pet_birthdate'] }}</td>
					<td>{{ animal['species'] }}</td>
					<td>{{ animal['pet_sex'] }}</td>
					<td>{{ animal['breed'] }}</td>
					<td>{{ animal['color'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div id="allergy-caption">
		<h3>Allergies</h3>
	</div>
	<div class="item">
		<table
			data-toolbar="#allergy-caption"
			data-toggle="table"
			data-show-pagination-switch="true"
			data-pagination="true"
			data-search="true"
			data-classes="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th data-sortable="true" data-field="allergy">Allergy</th>
				</tr>
			</thead>
			<tbody>
				{% for allergy in allergies %}
				<tr>
					<td>{{ allergy['allergy'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div id="condition-caption">
		<h3>Conditions</h3>
	</div>
	<div class="item">
		<table
			data-toolbar="#condition-caption"
			data-toggle="table"
			data-show-pagination-switch="true"
			data-pagination="true"
			data-search="true"
			data-classes="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th data-sortable="true" data-field="condition">Condition</th>
					<th data-sortable="true" data-field="is-active">Is Active</th>
				</tr>
			</thead>
			<tbody>
				{% for condition in conditions %}
				<tr>
					<td>{{ condition['medical_condition'] }}</td>
					<td>{{ condition['is_active'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div id="prescription-caption">
		<h3>Prescriptions</h3>
	</div>
	<div class="item">
		<table
			data-toolbar="#prescription-caption"
			data-toggle="table"
			data-show-pagination-switch="true"
			data-pagination="true"
			data-search="true"
			data-classes="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th data-sortable="true" data-field="prescription">Prescription</th>
					<th data-sortable="true" data-field="appointment_date">Prescribed On</th>
					<th data-sortable="true" data-field="vet_name">Prescribed By</th>
				</tr>
			</thead>
			<tbody>
				{% for prescription in prescriptions %}
				<tr>
					<td>{{ prescription['prescription'] }}</td>
					<td>{{ prescription['appointment_date'] }}</td>
					<td>{{ prescription['vet_name'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div id="appointment-caption">
		<h3>Appointments</h3>
	</div>
	<div class="item">
		<table
			data-toolbar="#appointment-caption"
			data-toggle="table"
			data-show-pagination-switch="true"
			data-pagination="true"
			data-search="true"
			data-classes="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th data-sortable="true" data-field="appointment_date">Date</th>
					<th data-sortable="true" data-field="weight">Weight</th>
					<th data-sortable="true" data-field="vet_id">Vet Seen</th>
					<th data-sortable="true" data-field="notes">Notes</th>
				</tr>
			</thead>
			<tbody>
				{% for appointment in appointments %}
				<tr>
					<td>{{ appointment['appointment_date'] }}</td>
					<td>{{ appointment['weight'] }}</td>
					<td>{{ appointment['vet_name'] }}</td>
					<td>{{ appointment['notes'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.js"></script>
{% endblock %}
