{% extends "base.html" %}
{% block title %}Patient Info{% endblock %}
{% block content %}
<div class="d-flex justify-content-center mb-5">
	<form class="card bg-light col-sm-6 p-3" action="/patient" method="POST">
		{{ form.hidden_tag() }}{{ form.crsf_token }}
		<div class="mb-2 row">
			{{ form.name.label(class="col-sm-3 col-form-label") }}
			<div class="col-sm-9">
				{{ form.name(class="form-control") }}
			</div>
		</div>

		<div class="mb-2 row">
			{{ form.birthdate.label(class="col-sm-3 col-form-label") }}
			<div class="col-md-auto">
				{{ form.birthdate(class="form-control") }}
			</div>
		</div>

		<div class="mb-2 row">
			{{ form.species.label(class="col-sm-3 col-form-label") }}
			<div class="col-sm-9">
				{{ form.species(class="form-control") }}
			</div>
		</div>

		<div class="mb-2 row">
			{{ form.sex.label(class="col-sm-3 col-form-label") }}
			<div class="col-md-auto">
				{{ form.sex(class="form-control") }}
			</div>
		</div>

		<div class="mb-2 row">
			{{ form.breed.label(class="col-sm-3 col-form-label") }}
			<div class="col-sm-9">
				{{ form.breed(class="form-control") }}
			</div>
		</div>

		<div class="mb-2 row">
			{{ form.color.label(class="col-sm-3 col-form-label") }}
			<div class="col-sm-9">
				{{ form.color(class="form-control") }}
			</div>
		</div>

		<div class="d-flex justify-content-center">
			{{ form.submit(class="btn btn-primary mt-2") }}
		</div>
	</form>
</div>

<div class="card bg-light p-3">
	<table id="data" class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Birthdate</th>
				<th>Species</th>
				<th>Sex</th>
				<th>Breed</th>
				<th>Color</th>
			</tr>
		</thead>
		<tbody>
			{% for animal in animals %}
			<tr>
				<td>{{ animal[0] }}</td>
				<td>{{ animal[1] }}</td>
				<td>{{ animal[2] }}</td>
				<td>{{ animal[3] }}</td>
				<td>{{ animal[4] }}</td>
				<td>{{ animal[5] }}</td>
				<td>{{ animal[6] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
