{% extends "base.html" %}
{% block title %}Patient Info{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.css">
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center mb-5">
	<form class="card bg-light col-sm-6 p-3" action="/patient" method="POST">
		{{ form.hidden_tag() }}{{ form.crsf_token }}
		<div class="mb-2 row">
			{{ form.name.label(class="col-sm-3 col-form-label") }}
			<div class="col-sm-9">
				{{ form.name(class="form-control") }}
			</div>
		</div>

		<div class="mb-2 row">
			{{ form.birthdate.label(class="col-sm-3 col-form-label") }}
			<div class="col-md-auto">
			{% if form.birthdate.errors %}
			{{ form.birthdate(class="form-control is-invalid", **{'aria-describedby':"feedbackDate"}) }}
				<div id="feedbackDate" class="invalid-feedback">
					Please input a valid birthdate.
				</div>
			{% else %}
				{{ form.birthdate(class="form-control") }}
			{% endif %}
			</div>
		</div>

		<div class="mb-2 row">
			{{ form.species.label(class="col-sm-3 col-form-label") }}
			<div class="col-sm-9">
				{{ form.species(class="form-control") }}
			</div>
		</div>

		<div class="mb-2 row">
			{{ form.sex.label(class="col-sm-3 col-form-label") }}
			<div class="col-md-auto">
				{{ form.sex(class="form-control") }}
			</div>
		</div>

		<div class="mb-2 row">
			{{ form.breed.label(class="col-sm-3 col-form-label") }}
			<div class="col-sm-9">
				{{ form.breed(class="form-control") }}
			</div>
		</div>

		<div class="mb-2 row">
			{{ form.color.label(class="col-sm-3 col-form-label") }}
			<div class="col-sm-9">
				{{ form.color(class="form-control") }}
			</div>
		</div>

		<div class="d-flex justify-content-center">
			{{ form.submit(class="btn btn-primary mt-2") }}
		</div>
	</form>
</div>

<div class="card bg-light p-3">
	<table id="table" data-toggle="table" data-show-pagination-switch="true" data-pagination="true" data-search="true" data-classes="table table-bordered table-hover table-striped">
		<thead>
			<tr>
				<th data-sortable="true" data-field="id">ID</th>
				<th data-sortable="true" data-field="name">Name</th>
				<th data-sortable="true" data-field="birthdate">Birthdate</th>
				<th data-sortable="true" data-field="species">Species</th>
				<th data-sortable="true" data-field="sex">Sex</th>
				<th data-sortable="true" data-field="breed">Breed</th>
				<th data-sortable="true" data-field="color">Color</th>
				<th data-events="actionEvents">Operation</th>
			</tr>
		</thead>
		<tbody>
			{% for animal in animals %}
			<tr id="{{ animal['pet_id'] }}">
				<td><a href="/patient/{{ animal['pet_id'] }}">{{ animal['pet_id'] }}</a></td>
				<td>{{ animal['pet_name'] }}</td>
				<td>{{ animal['pet_birthdate'] }}</td>
				<td>{{ animal['species'] }}</td>
				<td>{{ animal['pet_sex'] }}</td>
				<td>{{ animal['breed'] }}</td>
				<td>{{ animal['color'] }}</td>
				<td class="text-center"><a class="remove" href="javascript:void(0)" onclick="removeMe({{ animal['pet_id'] }})" title="Remove"><i class="fa fa-trash"></i></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.1/dist/bootstrap-table.min.js"></script>
<script src="https://kit.fontawesome.com/3bd96ec630.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/remove_patient.js') }}"></script>
{% endblock %}
