{% extends "base.html" %}
{% block title %}Pet Info{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	<form class="card p-3 bg-light" action="/pet" method="POST">
		{{ form.hidden_tag() }}{{ form.crsf_token }}

		{{ form.name.label }}
		{{ form.name(class="mb-2") }}

		{{ form.birthdate.label }}
		{{ form.birthdate(class="mb-2") }}

		{{ form.species.label }}
		{{ form.species(class="mb-2") }}

		{{ form.sex.label }}
		{{ form.sex(class="mb-2") }}

		{{ form.breed.label }}
		{{ form.breed(class="mb-2") }}

		{{ form.color.label }}
		{{ form.color(class="mb-2") }}

		{{ form.submit(class="btn btn-primary mt-2") }}
	</form>
</div>
{% endblock %}
